@font-face {
  font-family: "Kreadon";
  font-style: normal;
  font-weight: normal;
  src: local("Kreadon"), url("/fonts/regular_Kreadon.ttf") format("ttf");
}

@font-face {
  font-family: "Kreadon";
  font-style: normal;
  font-weight: lighter;
  src: local("Kreadon"), url("/fonts/light_Kreadon.ttf") format("ttf");
}

@font-face {
  font-family: "Kreadon";
  font-style: normal;
  font-weight: bold;
  src: local("Kreadon"), url("/fonts/bold_Kreadon.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Kreadon", "Arial", sans-serif;
}

:root {
  --bg-color: #48416a;
  --second-bg-color: #60578b;
  --text-color: #fff;
  --main-color: #ebc08d;
  --blue-color: #9dbfed;
  --violet-color: #b79af4;
  --peach-color: #eeab9b;
  --dark-color: #383258;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 15rem 5% 2rem;
}

/* блок Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.header.sticky {
  border-bottom: 0.1rem solid #2a263f44;
}

.logo {
  width: 8rem;
  filter: drop-shadow(0 0 2rem var(--dark-color));
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* Блок 1. Начальный блок. */

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 40vw;
}

.home-content h2 {
  font-size: 4rem;
  font-weight: bold;
}

.home-content h1 {
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: bold;
}

.home-content h3:nth-of-type(2) {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.home-content h3:nth-of-type(2) {
  font-size: 3rem;
  font-weight: normal;
}

.home-content h3:nth-of-type(2) span {
  font-size: 4rem;
  font-weight: bold;
}

.home-content p {
  font-size: 2.3rem;
}

span {
  color: var(--main-color);
  font-weight: bold;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-color);
  margin: 8rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* Блок 2. Мои навыки. */

.skills h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 8rem;
  margin-left: 8rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  flex: 1 1 20rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.skills-container .skills-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 8rem;
  color: var(--main-color);
}
.api-img {
  width: 8rem;
}

/* progress bar */

.skills-box .progress {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  color: var(--text-color);
  background: var(--bg-color)
    linear-gradient(to right, transparent 50%, var(--main-color) 0);
  margin: 3rem auto 3rem;
}

.skills-box .progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  z-index: 1;
  font-weight: bold;
}

.skills-box .progress h3 span {
  color: var(--text-color);
  font-size: 1.65rem;
  font-weight: normal;
  z-index: 1;
}

.skills-box .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  font-weight: bold;
  color: var(--main-color);
  text-transform: uppercase;
}

.skills-box .progress::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.skills-box .progress::after {
  content: "";
  position: absolute;
  inset: 1.5rem;
  border-radius: 50%;
  background: var(--second-bg-color);
}

.skills-box .progress::before {
  background: var(--main-color);
  transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.skills-box .progress.less::before {
  background: var(--bg-color);
  transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}

/* Блок 3. Дорожная карта. */

.roadmap h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 9rem;
  margin-left: 4rem;
}

.roadmap {
  background-color: var(--second-bg-color);
}

.roadmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.roadmap-box {
  position: relative;
  width: 45rem;
  height: 45rem;
  border: 0.4rem solid #fff;
  border-radius: 50%;
}
.roadmap-box .mark .markGalka1 img {
  position: absolute;
  z-index: 11;
  width: 4rem;
  height: 4rem;
  top: 3.5rem;
}
.roadmap-box .mark .markGalka2 img {
  position: absolute;
  z-index: 11;
  width: 4rem;
  height: 4rem;
  top: -4.5rem;
  left: 11rem;
}
.roadmap-box .mark .markGalka3 img {
  position: absolute;
  z-index: 11;
  width: 4rem;
  height: 4rem;
  top: -4.5rem;
  left: 25rem;
}

.roadmap-box .mark .markFishka img {
  position: absolute;
  width: auto;
  height: 8rem;
  top: -4rem;
  left: 37.5rem;
  z-index: 11;
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.roadmap-box .icon {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.roadmap-box .icon .icon-box {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: 0.5s ease;
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0 0.4rem var(--second-bg-color), 0 0 0 0.6rem #fff;
  transform: rotate(calc(360deg / 10 * var(--i)));
  z-index: 9;
  transform-origin: 24.7rem;
}

.roadmap-box .icon .icon-box.active {
  box-shadow: 0 0 0 0.4rem var(--second-bg-color), 0 0 0 1rem var(--main-color);
}

.roadmap-box .icon .icon-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transform: rotate(calc(-360deg / 10 * var(--i)));
  transition: 0.5s ease;
  filter: grayscale(1);
}

.roadmap-box .icon .icon-box.active img {
  filter: grayscale(0);
}

.content {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::before {
  content: "";
  position: absolute;
  inset: 6rem;
  border: 0.4rem solid transparent;
  border-left: 0.4rem solid var(--blue-color);
  border-right: 0.4rem solid var(--peach-color);
  border-radius: 50%;
  animation: anim_1 4s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes anim_1 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.content-box {
  position: absolute;
  transform: scale(0);
  transition: 0.3s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.3s;
}

.content-box .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.content-box .card .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  overflow: hidden;
}
.content-box .card .icon-box img {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.content-box .card .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.content-box .card .text-box h3 {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1rem;
  text-transform: uppercase;
  text-align: center;
}

/* Блок 4. Портфолио. */

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio h2 {
  text-align: center;
  font-size: 5rem;
}

/* Блок 5. Контакты. */

.contacts {
  background: var(--second-bg-color);
}

.contacts h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 7rem;
}

.contacts form {
  max-width: 70rem;
  margin: 1rem auto 3rem;
  text-align: center;
}

.contacts form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts form .input-box input,
.contacts form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contacts form .input-box input {
  width: 49%;
}

.contacts form textarea {
  resize: none;
}

.contacts form .btn {
  margin-top: 2rem;
  cursor: pointer;
  text-align: center;
}
