@font-face {
    font-family: "Kreadon";
    font-style: normal;
    font-weight: normal;
    src: local("Kreadon"), url("/fonts/regular_Kreadon.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Kreadon";
    font-style: normal;
    font-weight: lighter;
    src: local("Kreadon"), url("/fonts/light_Kreadon.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Kreadon";
    font-style: normal;
    font-weight: bold;
    src: local("Kreadon"), url("/fonts/bold_Kreadon.ttf") format("ttf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Kreadon", "Arial", sans-serif;
  }
  
  :root {
    --bg-color: #48416a;
    --second-bg-color: #60578b;
    --text-color: #fff;
    --main-color: #ebc08d;
    --blue-color: #9dbfed;
    --violet-color: #b79af4;
    --peach-color: #eeab9b;
    --dark-color: #383258;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  section {
    min-height: 100vh;
    padding: 15rem 5% 2rem;
  }

  /* блок Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.header.sticky {
    border-bottom: 0.1rem solid #2a263f44;
}

.logo {
  width: 8rem;
  filter: drop-shadow(0 0 2rem var(--dark-color));
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}



#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
} 